#container {
    width: 100%;
    height: 100%;
    background-color: black;
    margin-right: 20px;
}

.sidebar{
    width: 15%;
    height: 100%;
    float: left;
    margin-right: 3%;
    background-image: url('/static/images/SVG/PolicyGrams_side header.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contentcontainer{
    width: 80%;
    height: 100%;
    float: left;

}

.searchrow{
    padding-top: 40px;
    height: 10%
}

.searchtopleft{
    float: left;
    width: 60%;

}

.searchtopright{
    float: right;
    width: 40%;

}

.contentrow{
    float: left;
    width: 100%;
    height: 90%;
    background-color: red;
}

.textdisplay{
    float: left;
    width: 50%;
    height: 100%;
    background-color: blue;
}

.policygram{
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;

}

.policygram .base{
    z-index: 0;
    position: relative;
    top: 150px;
    left: 80px;
    height: 80%;
    width: 80%;
}

.icon1{
    z-index: 1;
    position: relative;
    right: 500px;
    height: 15%;
    width: auto;
}

.icon2{
    z-index: 2;
    position: relative;
    right: 500px;
    height: 15%;
    width: auto;
}

.icon3{
    z-index: 3;
    position: relative;
    right: 500px;
    height: 15%;
    width: auto;
}

.icon4{
    z-index: 4;
    position: relative;
    right: 500px;
    height: 15%;
    width: auto;
}

.icon5{
    z-index: 5;
    position: relative;
    right: 500px;
    height: 15%;
    width: auto;
}