#container {
    width: 100%;
    background-color: black;
}

.content{
    width: 950px;
    float: right;
    background-color: black;
}

.sidebar{
    width: 220px;
    height: 100%;
    float: left;
    padding-left: 0;
    background-image: url('/static/images/SVG/PolicyGrams_side header.svg');
    background-repeat: no-repeat;
    background-size: cover;
}