h1{
    font-family: 'proxima-nova';

}

.querydisplay{
    padding-left:40px;
}

.columnleft{
    float: left;
    width: 20%;
    margin-right: 20px;
}

.sidebar{
    width: 220px;
    height: 100%;
    float: left;
    padding-left: 0;
    background-image: url('/static/images/SVG/PolicyGrams_side header.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contentleft{
    float: left;
    width: 40%;
    background-color: grey;
}

.contentright{
    float: left;
    width: 60%;
    position: relative;
}

.stock1{
    position: relative;
    z-index: 1;
    top: 100px;
    right: 10px;
    width: 30%;
    height: auto;
}

.stock2{
    position: relative;
    z-index: 2;
    top: -75px;
    right: 165px;
    width: auto;
    height: 25%;

}

.stock3{
    position: relative;
    z-index: 3;
    top: -333px;
    right: -310px;
    width: auto;
    height: 28%;

}


.columnright{
    float: left;
    width: 75%
}

.searchrow{
    padding-top: 40px;
}

.searchtopleft{
    float: left;
    width: 60%;

}

.searchtopright{
    float: right;
    width: 40%;

}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.result_item{
    width: 80%;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #DCDCDC;

}

.sidebar img{
    width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
}

.searchbar2{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border-width: 1px;
    border-color:black;
}

.placeholder{
    color: grey;
}

.headshot{
    width: 100px;
    display:inline-block; margin-right:10px;
}
.litext{
    display:inline-block;
}

body{
  font-family:sans-serif;
  font-size:25px;
}
.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}
.btn-link:active{
  color:#FF0000;
}