h1{
    font-family: 'proxima-nova';

}

.querydisplay{
    padding-left:40px;
}

.columnleft{
    float: left;
    width: 20%;
    margin-right: 20px;
}

.columnright{
    float: left;
    width: 75%
}

.searchrow{
    padding-top: 40px;
}

.searchtopleft{
    float: left;
    width: 60%;

}

.searchtopright{
    float: right;
    width: 40%;

}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.result_item{
    width: 80%;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #DCDCDC;

}

.sidebar img{
    width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
}

.searchbar2{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border-width: 1px;
    border-color:black;
}

.placeholder{
    color: grey;
}

.headshot{
    width: 100px;
    display:inline-block; margin-right:10px;
}
.litext{
    display:inline-block;
}

body{
  font-family:sans-serif;
  font-size:25px;
}
.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}
.btn-link:active{
  color:#FF0000;
}