{% load static %}
{% static "" as baseUrl %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="bg">
        <div class="searchbar">
            <form action="/search/" method="post">
                {% csrf_token %}
                <input class="searchbar2" type="text" placeholder="Search..." name="newquery"<br>
            </form>
        </div>
    </div>
</body>
</html>
