{% load static %}
{% static "" as baseUrl %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<div class="row">
    <div class="columnleft" method="post">
    <div class ="sidebar"> <img src="{% static 'images/search_side_header.png' %}" alt ="search_side" /> </div>

    </div>

    <div class="columnright">

    </div>

</div>

</html>
